<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Listado de especies
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/especies/create">
          <i class="glyphicon glyphicon-open"></i> New Especy
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="especy in $data">
              <td data-title="'Nombre'" >{{especy.nombre}}</td>
              <td data-title="'Especie'">{{especy.filo}}</td>
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/especies/{{especy.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/especies/{{especy.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(especy)" item="especy">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
