<section class="mainbar" data-ng-init="vm.toViewEspecy()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Detalle de especie
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.especy" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/especies/{{vm.especy.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.especy">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/especies">
          <i class="glyphicon glyphicon-list"></i> List Especies
        </a>
      </div>

    </div>
  </div>

</section>
